@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@media screen and (min-width: 600px) {
  /* Desctop - Layout */
  .form {
    margin: auto;
    width: 550px;
    height: 800px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(183, 183, 183, 0.2);
    border-radius: 10px;
  }

  .Ang_Text {
    margin-top: 30px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 135.5%;

    color: #316ae2;
  }

  .input {
    padding: 0 20px;
    border: none;
    width: 85%;
    height: 73px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
  }

  .button {
    border: none;
    margin-top: 70px;
    width: 92.5%;
    height: 73px;
    background: #316ae2;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135.5%;
    text-align: center;
  }

  .button:active {
    background: #585858;
    cursor: pointer;
  }

  .Goto_Signin_Text {
    margin-top: 20px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135.5%;

    color: #7a7a7a;
  }

  .Goto_Signin_Href {
    cursor: pointer;
    text-decoration: underline;
    color: #316ae2;
  }
}

@media screen and (max-width: 750px) {
  /* Mobile - Layout */
  .form {
    margin: auto;

    width: 90%;
    height: 700px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(183, 183, 183, 0.2);
    border-radius: 10px;
  }

  .Ang_Text {
    margin-top: 20px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 135.5%;

    color: #316ae2;
  }

  .input {
    padding: 0 20px;
    border: none;
    width: 85%;
    height: 50px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 20px;
  }

  .button {
    border: none;
    margin-top: 40px;
    width: 90%;
    height: 78px;
    background: #316ae2;
    border-radius: 5px;
    color: #ffffff;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135.5%;
    text-align: center;
  }

  .button:active {
    background: #585858;
    cursor: pointer;
  }

  .Goto_Signin_Text {
    margin-top: 20px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135.5%;

    color: #7a7a7a;
  }

  .Goto_Signin_Href {
    cursor: pointer;
    text-decoration: underline;
    color: #316ae2;
  }
}
