@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@media screen and (min-width: 600px) {
    /* Desctop - Layout */

    .card {
        width: 70%;
        height: 500px;
    
        background: #717171;
        border-radius: 20px;

        display: flex;

        margin: 0 auto;
        /* margin-left: 15%; */
        margin-top: 12%;
        user-select: none;
    }


    .leftbox {
        margin-left: 100px;
    }


    .rightbox {
        margin-left: 100px;
    }

    .CardBox {
        width: 300px;
        height: fit-content;
    }

    .CardBasicInformation {
        display: flex;
    }

    .UserCardName {
        font-size: 28px;
        margin-left: 120px;
        margin-top: -185px;
    }

    .UserCardBasicInformation {
        margin-top: -150px;
        margin-left: 5px;
    }

}

@media screen and (max-width: 750px) {
    /* Mobile - Layout */

}

